In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [5]:
# Load the data
df = pd.read_csv('./resources/fhfagov-2021.csv')

In [6]:
df.head()

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
0,2021,2585135,Boston,23,5,38860,45.02,6.379,91316,85144,...,7,7,7,3,7,7,7,7,2,1
1,2021,2585136,Boston,23,5,38860,41.00,3.553,100396,85144,...,7,7,7,5,8,8,8,8,2,1
2,2021,2585137,Boston,25,27,49340,7011.00,8.537,87500,91102,...,7,7,7,5,8,8,8,8,2,1
3,2021,2585138,Boston,25,27,49340,7001.00,6.052,114531,91102,...,7,7,7,2,7,7,7,7,2,1
4,2021,2585139,Boston,25,27,49340,7061.00,3.583,119423,91102,...,7,7,7,5,8,8,8,8,2,1

In [7]:
# Define the input and output variables
ind_vars = ['FIPSStateNumericCode', 'FIPSCountyCode', 'CoreBasedStatisticalAreaCode', 'CensusTractIdentifier']
target_var = 'NoteAmount'

In [8]:
# Split the data into training and test sets
train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [16]:
# Create a Random Forest Regressor
model = RandomForestRegressor(n_estimators=300, max_depth=30, min_samples_split=15, random_state=42)

In [17]:
# Fit the model to the training data
model.fit(train_data[ind_vars], train_data[target_var])

RandomForestRegressor(max_depth=20, min_samples_split=15, n_estimators=500,
                      random_state=42)

In [18]:
# Make predictions on the test data
test_data['predictions'] = model.predict(test_data[ind_vars])

In [19]:
# Calculate the mean absolute error
mae = (test_data[target_var] - test_data['predictions']).abs().mean()

In [20]:
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 77396.07

In [ ]:
# What does the above output Mean Absolute Error: 77265.48 actually mean? It means the 
# predictions made by the Random Forest Regressor are off by about $77,265.48 in terms 
# of our csv column 'NoteAmount'. So if the actual value of a house in the test data is 
# $200,000, the model might predict that the house is worth around $277,265.